@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial MT", sans-serif;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.container {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px; }

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px; }
  .container {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px; } }

@media (min-width: 1300px) {
  .container {
    width: 1300px;
    padding-right: 40px;
    padding-left: 40px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

.heading {
  margin: 0;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }
  @media (min-width: 768px) {
    .heading {
      font-size: 60px; } }

.button {
  width: 100%;
  padding: 12px 0;
  border: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer; }

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 16px; }

.header__logo {
  display: block;
  z-index: 10; }
  .header__logo:hover {
    opacity: 0.8; }
  .header__logo:active {
    opacity: 0.6; }

@media (min-width: 768px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 24px;
    padding-bottom: 0; } }

@media (min-width: 1300px) {
  .header__wrapper {
    padding-top: 54px; }
  .header__nav {
    position: relative;
    z-index: 10; } }

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 24px;
  height: 18px;
  padding: 0;
  background: transparent;
  border: none;
  border-top: 2px solid #000000;
  cursor: pointer;
  text-align: left; }
  .main-nav__toggle::before, .main-nav__toggle::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000;
    cursor: pointer; }
  .main-nav__toggle::before {
    top: 6px; }
  .main-nav__toggle::after {
    top: 14px; }

.main-nav--closed .main-nav__list {
  display: none; }

.main-nav--no-js .main-nav__list {
  display: block; }

.main-nav--opened .main-nav__list {
  display: block; }

.main-nav--opened .main-nav__toggle {
  border: none; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::after {
    top: 6px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", "Arial", sans-serif; }

.man-nav__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }

.main-nav__link {
  display: block;
  padding: 20px 0;
  color: #111111;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #ebebeb; }
  .main-nav__link:hover {
    opacity: 0.6; }
  .main-nav__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 450px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__link {
    padding: 0;
    padding-bottom: 8px;
    border: none;
    color: #222222;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px; }
    .main-nav__link--active {
      border-bottom: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .main-nav__list {
    width: 480px; }
  .main-nav__link {
    color: #ffffff; }
    .main-nav__link--active {
      border-bottom: 2px solid #ffffff; } }

.page-main__intro {
  margin-bottom: 22px; }

.intro {
  position: relative;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat top center;
  font-family: "Oswald", "Arial", serif; }

.intro__bg-cat {
  display: none; }

.intro__slogan {
  margin: 0;
  padding-top: 25px;
  color: #ffffff;
  text-align: center; }

.intro__title {
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit; }

.intro__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: inherit; }

@media (min-width: 768px) {
  .intro {
    background: none; }
  .intro__slogan {
    padding-top: 62px;
    padding-left: 90px;
    width: 516px;
    color: #111111;
    text-align: left; }
  .intro__title {
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px; }
  .intro__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px; }
  .intro__wrapper {
    position: relative; }
  .intro__button {
    position: absolute;
    top: 28px;
    left: 90px;
    width: 245px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px; } }

@media (min-width: 1300px) {
  .intro {
    margin-top: -118px;
    padding-top: 222px;
    min-height: 697px;
    background-image: url("../../img/index-background-desktop@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #64a83b));
    background-image: url("../../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #64a83b 50%);
    background-repeat: no-repeat;
    background-position: top right; }
  .intro__slogan {
    padding-top: 0; }
  .intro__title {
    margin-top: 0; }
  .intro__image {
    position: absolute;
    top: -250px;
    right: 270px; } }

.programs {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .programs {
      margin-bottom: 51px; } }
  @media (min-width: 1300px) {
    .programs {
      margin-bottom: 79px; } }

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.programs__item {
  position: relative;
  padding: 24px 30px 20px 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2; }
  .programs__item:last-child {
    margin-bottom: 0; }

.programs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.programs__bg-circle {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #68b738;
  border-radius: 50%; }
  .programs__bg-circle::before {
    content: "";
    position: absolute; }

.programs__bg-circle--cat::before {
  left: 8px;
  top: -2px;
  width: 35px;
  height: 49px;
  background: url("../../img/icon-cat-slim.svg") no-repeat center center; }

.programs__bg-circle--panter::before {
  left: 50%;
  top: 50%;
  width: 67px;
  height: 28px;
  background: url("../../img/icon-cat-pro.svg") no-repeat center center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.programs__title {
  margin: 0;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase; }

.programs__description {
  margin: 0;
  margin-bottom: 24px; }

.programs__bg-line {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: #000000;
  opacity: 0.1; }

.programs__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase; }
  .programs__link::after {
    content: "";
    display: block;
    width: 24px;
    height: 11px;
    margin-left: 14px;
    background: url("../../img/icon-right-arrow-long.svg") no-repeat center; }
  .programs__link:hover::after {
    width: 33px;
    background-image: url("../../img/icon-right-arrow-verylong.svg"); }
  .programs__link:active::after {
    width: 33px;
    background-image: url("../../img/icon-right-arrow-verylong.svg"); }
  .programs__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .programs__item {
    padding: 80px 62px 62px 52px; }
  .programs__bg-circle {
    position: absolute;
    top: 92px;
    right: 0;
    width: 200px;
    height: 200px;
    margin-right: 60px; }
  .programs__bg-circle--cat::before {
    left: 50%;
    top: 50%;
    width: 140px;
    height: 194px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .programs__bg-circle--panter::before {
    width: 268px;
    height: 112px; }
  .programs__title {
    font-size: 36px;
    line-height: 37.02px; }
  .programs__description {
    width: 371px;
    margin-bottom: 61px;
    font-size: 16px;
    line-height: 24px; }
  .programs__bg-line {
    display: none; }
  .programs__link {
    font-size: 20px;
    line-height: 20px; } }

@media (min-width: 1300px) {
  .programs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .programs__item {
    margin-bottom: 0; }
  .programs__bg-circle {
    position: relative;
    top: auto;
    right: auto;
    width: 100px;
    height: 100px; }
  .programs__bg-circle--cat::before {
    width: 70px;
    height: 97px; }
  .programs__bg-circle--panter::before {
    width: 134px;
    height: 56px; }
  .programs__description {
    width: 462px; } }

.presentation {
  margin-bottom: 42px; }

.presentation__title {
  margin: 0;
  padding: 0;
  margin-bottom: 41px; }

.presentation__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.presentation__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 32px; }
  .presentation__item:last-child {
    margin-bottom: 0; }
  .presentation__item::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    background-color: #68b738;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center; }
  .presentation__item--eco::before {
    background-image: url("../../img/advantage-leaf@1x.png"); }
  .presentation__item--water::before {
    background-image: url("../../img/advantage-powder@1x.png"); }
  .presentation__item--spoon::before {
    background-image: url("../../img/advantage-dining@1x.png"); }
  .presentation__item--clock::before {
    background-image: url("../../img/advantage-clock@1x.png"); }

.presentation__text {
  margin: 0; }

@media (min-width: 768px) {
  .presentation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .presentation__item {
    width: 324px;
    padding-left: 0;
    padding-top: 119px;
    margin-bottom: 87px; }
    .presentation__item::before {
      width: 80px;
      height: 80px;
      top: 0; }
    .presentation__item::after {
      position: absolute;
      top: 50%;
      left: 124px;
      z-index: -1;
      color: #f2f2f2;
      font-family: "Oswald", sans-serif;
      font-size: 281px;
      font-weight: 400;
      line-height: 0; }
    .presentation__item--eco::after {
      content: "1"; }
    .presentation__item--water::after {
      content: "2"; }
    .presentation__item--spoon::after {
      content: "3"; }
    .presentation__item--clock::after {
      content: "4";
      top: 100px; }
  .presentation__title {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px; }
  .presentation__text {
    width: 250px;
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1300px) {
  .presentation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .presentation__item {
    width: 245px;
    margin-bottom: 0; }
  .presentation__text {
    width: auto; } }

.example {
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: #f2f2f2; }

.example__title {
  margin-bottom: 10px; }

.example__description {
  margin: 0;
  margin-bottom: 20px; }

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px; }

.example__stats {
  position: relative;
  margin: 0;
  width: 124px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #cdcdcd; }
  .example__stats--weight {
    padding: 17px; }
  .example__stats--days {
    padding: 17px; }
  .example__stats::after {
    position: absolute;
    content: "";
    bottom: -17px;
    left: 50%;
    padding-left: 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    font-family: "Arial MT", sans-serif;
    background-color: #f2f2f2;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .example__stats--weight::after {
    content: "снижение веса"; }
  .example__stats--days::after {
    content: "затрачено времени"; }

.example__costs {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center; }

.example__br-hidden {
  display: none; }

.example__before,
.example__after {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase; }

.example__beforeafter-wrapper {
  text-align: center; }

.example__range {
  width: 84px;
  margin: 0 17px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .example {
    background-size: 300px; }
  .example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .example__title {
    margin-bottom: 40px; }
  .example__item {
    margin-right: 42px; }
    .example__item:nth-child(2n) {
      margin-right: 0; }
  .example__stats {
    width: 162px;
    font-size: 30px;
    line-height: 37.02px; }
  .example__costs {
    font-size: 20px;
    line-height: 20px;
    text-align: right; }
  .example__br-hidden {
    display: block; } }

/*# sourceMappingURL=style.css.map */
