// Width

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Font

$font-color-main: #444444;
$font-color-heading: #111111;
$font-color-menu-tablet: #222222;

// Background

$bg-green: #68b738;
$bg-gray: #f2f2f2;
